@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@inject OpenBulletSettingsService OBSettingsService
@inject IThemeRepository ThemeRepo
@inherits LayoutComponentBase

@if (themePath != null)
{
    <Link rel="stylesheet" href="@themePath" />
}

<BlazoredModal />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
        
    </div>
    <div class="footer">
            <a href="https://iproyal.com?r=125942" target="_blank">
        <img src="https://dashboard.iproyal.com/img/b/468_1.jpg" alt="IPRoyal.com">
</a>   

</div>
</div>


<script suppress-error="BL9992" type='text/javascript' src='//pl16861443.highperformancegate.com/bd/d3/5a/bdd35a60650fed9da37ed7933969ad1c.js'></script>
<script suppress-error="BL9992" type='text/javascript' src='//pl16861439.highperformancegate.com/09/44/4c/09444c4aae26916eac86c8be969ab637.js'></script>

@code {
    private string themePath;

    protected override async Task OnInitializedAsync()
    {
        if (OBSettingsService.Settings.CustomizationSettings.Theme != "Default")
            themePath = (await ThemeRepo.GetPath(OBSettingsService.Settings.CustomizationSettings.Theme)).Replace("wwwroot/", "");
    }
} 